$animation-type: linear;
$animation-speed: 75ms;

Game {
	align: center middle;
	layers: gameplay messages;
}

GameHeader {
	background: $primary-background;
	color: $text;
	height: 1;
	dock: top;
	layer: gameplay;
}

GameHeader #app-title {
	width: 60%;
}

GameHeader #moves {
	width: 20%;
}

GameHeader #progress {
	width: 20%;
}

Footer {
	height: 1;
	dock: bottom;
	layer: gameplay;
}

.visible {
	visibility: visible;
}

Help {
	border: round $primary-lighten-3;
}
